version: '3'
services:
  listenmoe:
    image: "crawl/listenmoe:latest"
    restart: always
    environment:
      - TOKEN=BOT_TOKEN
      - COMMAND_PREFIX=-
      - OWNERS=OWNER_IDS,CAN,BE,SEPERATED,BY,COMMAS
      - DB=postgres://POSTGRES_USER_DEFINED_IN_POSTGRES_ENV:POSTGRES_PW_DEFINED_IN_POSTGRES_ENV@postgres:5432/POSTGRES_DB_EITHER_USER_DEFINED_IN_POSTGRES_ENV_OR_POSTGRES_DB_DEFINED_IN_POSTGRES
      - REDIS=redis
      - RADIO_CHANNEL=CHANNELS_THE_BOT_SHOULD_ALWAYS_JOIN_AND_NEVER_LEAVE
      - GOOGLE_API=GOOGLE_API_KEY_FOR_YOUTUBE_AND_GEOCODE
      - SOUNDCLOUD_API=SOUNDCLOUD_API_KEY
      - PAGINATED_ITEMS=HOW_MANY_ITEMS_PER_PAGE_VIA_PAGINATION
      - DEFAULT_VOLUME=DEFAULT_VOLUME_WHEN_JOINING_VOICE_CHANNEL
      - MAX_LENGTH=MAXIMUM_LENGTH_PER_SONG
      - MAX_SONGS=HOW_MANY_SONGS_A_USER_CAN_QUEUE_UP
      - PASSES=UPD_PACKET_PASS
    depends_on:
      - postgres
      - redis

  postgres:
    image: "postgres:9-alpine"
    environment:
      - POSTGRES_USER=listenmoe
      - POSTGRES_PASSWORD=POSTGRES_PW
    volumes:
      - LOCALHOST_VOLUME_PATH/pg:/var/lib/postgresql/data

  redis:
    image: "redis:3-alpine"
    volumes:
      - LOCALHOST_VOLUME_PATH/redis:/data
