{
	"token": "Your bot token here",
	"stream": "https://listen.moe/stream",
	"websocket": "wss://listen.moe/api/v2/socket",
	"userAgent": "Listen.moe-Discord v0.1.0 (https://github.com/WeebDev/listen.moe)",
	"owner": [
		"User ID who should have access to eval",
		"You can put multiple IDs here"
	],
	"radioChannels": [
		"IDs of the channels the bot should never leave",
		"You can put multiple IDs here"
	],
	"twitchClientID": ""
}